/* Esconde as opções de permitir recomendação e alteração de metadados ao designar participante */
#addParticipant .recommendOnlyWrapper, #addParticipant .submissionEditMetadataPermit{
	display: none !important;
}

/* Remove títulos de listas de submissões */
.submissionsListPanel .pkpHeader__title{
	display: none !important;
}

.decision__skipStep.-linkButton{
	background: #d00a6c !important;
	padding: 10px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}