/* Esconde as opções de permitir recomendação e alteração de metadados ao designar participante */
#addParticipant .recommendOnlyWrapper, #addParticipant .submissionEditMetadataPermit{
	display: none !important;
}

/* Remove títulos de listas de submissões */
.submissionsListPanel .pkpHeader__title{
	display: none !important;
}

.decision__skipStep.-linkButton{
	background: #d00a6c !important;
	padding: 10px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

/* Customiza links de ler, agradecer e reverter avaliação */
.pkp_linkaction_icon_unconsider, .pkp_linkaction_icon_accepted, .pkp_linkaction_readReview{
	line-height: unset !important;
}

[id^="reviewersGrid"] tbody td:not(.first_column){
	text-align: right !important;
}

/* Remove negrito de links para suavizar a leitura */
.pkp_controllers_grid table td a, .pkp_controllers_grid .actions a{
	font-weight: normal !important;
}

/* Remove cor de fundo de caixas de arquivos para suavizar leitura */
.pkp_controllers_grid div.header{
	background-color: unset !important;
	color: rgba(0,0,0,0.84) !important;
}

/* Customiza exibição de listagem de submissões no dashboard */
.listPanel__itemSubtitle, .listPanel__itemTitle, .pkpHeader.-isOneLine .pkpHeader__title{
	white-space: unset !important;
	overflow: unset !important;
	text-overflow: unset !important;
}

.listPanel__itemExpanded--submission, .listPanel__itemIdentity--submission{
	padding-inline-start: 3.5rem !important;
}

/* Customiza exibição de título, autores, ID e sećão em página de fluxo da submissão */
.pkpWorkflow__identificationAuthor{
	font-weight: lighter !important;
}

.pkpWorkflow__identificationTitle, .pkpWorkflow__identificationId, .pkpWorkflow__identificationDivider, .pkpWorkflow__identificationSection{
	font-weight: bold !important;
}
